In [17]:
#Decision tree model
#Import libraries
import numpy as np # linear algebra
import pandas as pd # data preparation and processing or manipulation
import seaborn as sns # statistical data visualization
import matplotlib.pyplot as plt # plotting and data visualization
%matplotlib inline
import graphviz # visualization of the test nodes
# ml libraries decision tree
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
# control display| optional
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#CAF1DE"})
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('heart_disease.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

cp=chest pain trestbps= resting blood pressure chol= cholestrerol fbs= fasting blood sugar restecg= resting electrocardiography exang=exercise induced agina oldpeak=ST depreesion induced slope= the slope of the peak exercise ca=number of major vessel thal=normal, fixied defect, reversible defect target=have disease or not(1=yes, 0=n0)

In [3]:
# show a number of people with a heart disease
# column for target
df.target.value_counts()

1    526
0    499
Name: target, dtype: int64

In [4]:
# show %age of male and femlae
count_female=len(df[df.sex==0])
count_male=len(df[df.sex==1])
# show output
print('Percentage of female patients:{:.2f}%'.format(count_female/(len(df.sex))*100))
print('Percentage of male patients:{:.2f}%'.format(count_male/(len(df.sex))*100))

Percentage of female patients:30.44%
Percentage of male patients:69.56%

In [5]:
# show mean
df.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.569138,0.827655,0.482966,134.106212,251.292585,0.164329,0.456914,139.130261,0.549098,1.600200,1.166333,1.158317,2.539078
1,52.408745,0.570342,1.378327,129.245247,240.979087,0.134981,0.598859,158.585551,0.134981,0.569962,1.593156,0.370722,2.119772

In [6]:
# show null values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
# ML for train and test data
# create logistic Regression
y=df.target.values
x_data=df.drop(["target"],axis=1)

In [8]:
# split the data for training 67% and testing 33%
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x_data,y,test_size=0.33,random_state=42)

In [9]:
# check shape of data remaining after splitting for training and testing
x_train.shape,x_test.shape

((686, 13), (339, 13))

In [10]:
# check the data type
x_train.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [11]:
# check x_train header
x_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
866,41,1,2,112,250,0,1,179,0,0.0,2,0,2
749,58,1,1,125,220,0,1,144,0,0.4,1,4,3
212,50,1,0,150,243,0,0,128,0,2.6,1,0,3
79,52,1,1,134,201,0,1,158,0,0.8,2,1,2
148,52,1,3,152,298,1,1,178,0,1.2,1,0,3

In [12]:
clf_gini=DecisionTreeClassifier(criterion="gini",max_depth=3,random_state=0)
clf_gini.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=3, random_state=0)

In [13]:
# predict the class label for the test data using decision tree classifier
y_pred_gini=clf_gini.predict(x_test)
from sklearn.metrics import accuracy_score
print("model accuracy score with criterion gini index: {0:0.4f}".format(accuracy_score(y_test,y_pred_gini)))

model accuracy score with criterion gini index: 0.8112

In [14]:
#predict the class label training data using decision tree classifier
y_pred_train_gini=clf_gini.predict(x_train)
y_pred_train_gini

array([1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [15]:
# print training and testing set of accuracy score
print ("Training set accuracy score: {0:0.4f}".format(clf_gini.score(x_train,y_train)))
print ("Testing set accuracy score: {0:0.4f}".format(clf_gini.score(x_test,y_test)))

Training set accuracy score: 0.8630
Testing set accuracy score: 0.8112

In [16]:
# First way visualization of decision tree leaf node
import matplotlib.pyplot as plt
from sklearn import tree
plt.figure(figsize=(12.8, 9.6) # create figure for width and height
tree.plot_tree(clf_gini.fit(x_train, y_train))
plt.show()

SyntaxError: invalid syntax (635735070.py, line 5)

In [ ]:
import graphviz
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
df = pd.read_csv('heart_disease.csv')
y=df.target.values
x_data=df.drop(["target"],axis=1)
# train the decision tree classifier
model=tree.DecisionTreeClassifier()
model.fit(x_data,y)
# get class name from dataset
class_names=df['target'].unique().astype(str)
# generate the graphviz visualization
tree.export_graphviz(model,out_file='heart_disease3.dot',
                    feature_names=x_data.columns,
                    class_names=class_names,
                    label="all",
                    filled =True,rounded=True)